{% extends 'base.html.twig' %}

{% block title %}Nuevo Nivel{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    <h1>REGISTRAR NUEVO NIVEL</h1>

    {{ include('nivel/_form.html.twig') }}

    <a href="{{ path('nivel_index') }}">Regresar a la lista</a>
</div>
{% endblock %}
