{% extends 'student_base.html.twig' %}

{% block title %}Edit Solicitud{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    <h1>EDITAR SOLICITUD</h1>

    {{ include('solicitud/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('solicitud_index') }}">Regresar</a>

    {{ include('solicitud/_delete_form.html.twig') }}
</div>
{% endblock %}


{% block javascripts %}
<script>     
                $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });
            </script>
 {% endblock %}

