{% extends 'base.html.twig' %}

{% block title %}Nuevo Comprobante{% endblock %}

{% block body %}
    <h1>Crear nuevo comprobante</h1>

    {{ include('comprobantes/_form.html.twig') }}

    <a href="{{ path('comprobantes_index') }}">Regresar</a>
{% endblock %}
