{% extends 'base.html.twig' %}

{% block title %}Editar carrera{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    <h1>EDITAR CARRERA</h1>

    {{ include('carrera/_form.html.twig', {'button_label': 'Editar'}) }}

    <a href="{{ path('carrera_index') }}">Regresar a la lista</a>

</div>
{% endblock %}
