{% extends 'base.html.twig' %}

{% block title %}New Paralelo{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    <h4>CREAR NUEVO PARALELO EN {{materia.Materia}}</h4>

       {% for message in app.flashes('exito') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    {{ include('paralelo/_form.html.twig') }}

     <a href="{{ path('paralelos', {'id': materia.id}) }}">Regresar a la lista de Paralelos</a>
     </div>
{% endblock %}
